<!-- Post -->
{{ define "post" }}
<div style="font-size: 2.0em;padding: 0em;">{{.Title}}</div>
<div class="container" style="
	border: ridge;
	border-radius: 0.3em;
	padding: 1.0em;
	">
	<p>{{.Body}}</p>
	{{ template "edit-button" .EditButton }}
	{{ template "delete-button" .DeleteButton }}
</div>
{{ end }}

<!-- Post Component -->
{{ define "post-component" }}
<a role="button" href="/posts/new">Add Post</a>
{{ template "post-preview-list" . }}
{{ end }}

<!-- Post Preview -->
{{ define "post-preview" }}
<blockquote><a href="/post/{{.ID}}">{{.Title}}</a></blockquote>
{{ end }}

<!-- Post Preview List -->
{{ define "post-preview-list" }}
<div id="post-preview-list">
	{{ range . }}
	{{ template "post-preview" . }}
	{{ end }}
</div>
{{ end }}
